.badgeActive {
    background: #B5F8B7;
    color:rgba(3, 73, 6, 1);
    border-radius: 12.5px
}

.badgeInactive {
    background: #FBC9C9;
    color: rgba(48, 4, 4, 1);
    border-radius: 12.5px
}

thead {
    background: rgba(239, 237, 242, 1);
    height: 51px;
}

.th-title {
    color: rgba(88, 87, 90, 1);
}